@import '../../styles/global.scss';

header {
  background-color: $color-primary;
}

.logo-boolebots {
  position: relative;
  display: inline-block;
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}