@import "../../styles/global.scss";

.bot-inputs {
  display: flex;
  justify-content: space-around;
  height: 34px;
  margin-bottom: 4px;
}

.bot-inputs > input,
select {
  background-color: $light-color;
  border-radius: $min-size;
  align-items: center;
  color: $text-primary;
  padding: $med-size;
  margin-right: 4px;
}

.checkbox {
  margin-top: 4px;
  margin-left: 2px;
  width: 50px;
  height: 26px;
  border-radius: 20px;
  background: $color-primary;
  color: $light-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-left: 2px;
}

.checkbox-on {
  padding-right: 2px;
  flex-direction: row-reverse;
  background: $color-confirm;
  color: $light-color;
}

.checkbox-ball {
  background: $light-color;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.checkbox-text {
  font-weight: bold;
  font-size: 12px;
  margin-left: 8px;
  margin-right: 8px;
}
