@import "../../styles/global.scss";

.game-board {
  display: inline-grid;
  gap: 2px;
  border-radius: 5px;
}

.tile {
  background-color: #cee6e6;
  margin: 0.3px;
  border-radius: 3px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
}
.bot-icon {
  height: 60px;
  width: 50px;
  position: relative;
}

.board-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px 10px 40px 10px;
  border: 1px solid ridge;
}

.btn {
  margin-top: 10px;
  width: 140px;
}

.lost-game {
  display: hidden;
  height: 55px;
  margin: 2px 2px 0px 12px;
}

.lost-game {
  display: hidden;
}

.bot-name{
  color: rgb(100, 100, 100);
  margin-top: 0px;
  text-align: center;
}