@import "../../styles/global.scss";

.game-board {
  display: inline-grid;
  gap: 1px;
  padding: 50px 0;
}

.tile {
  border: 1px solid black;
  width: 80px;
  height: 80px;
}

.board-container {
  display: flex;
  justify-content: center;
}

.bot-icon {
  position: relative;
}
